@media (prefers-color-scheme: dark) {
  .element {
    color: var(--bs-primary-text-emphasis);
    background-color: var(--bs-primary-bg-subtle);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    padding: 10px;
}
.headerbar {
    display: grid;
    grid-template-columns: 100px auto;
    align-items: center;
    height: 110px;
    overflow: hidden;
    border-bottom: 1px solid white;
}

.headerbar img {
    width: 80px;
    height: 100%;
    object-fit: contain;
}

.headerbar h1{
    margin: 0;
    padding: 0;
}

